@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Poppins:wght@200;300;400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-bottom: 30px;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

header {
  width: 100%;
  height: 50px;
  background-color: #212121;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.span-header {
  color: #fff;
  margin-left: 20px ;
}

.button-interrogacao {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 40px 30px 30px 10px;
  flex-wrap: wrap;
}

.button-interrogacao a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}


.btn-grad {background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%)}
.btn-grad {
   padding: 10px 20px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   border-radius: 10px;
   font-family: 'Poppins', sans-serif;
   font-weight: 400;
   font-size: 1rem;
   border: none;
   font-family: 'Poppins', sans-serif;

 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
   transform: scale(1.05);
   border: #e52d27 solid 2px;
 }

 .container {
   margin: 30px 10px;
   padding: 20px;
   display: flex;
   justify-content: center;
 }

 .container .images {
   object-fit: contain;
   width: 100%;
 }

 @media(max-width:500px) {
   .container {
     margin: 10px;
     padding: 5px;
   }
   html {
    font-size: 10px;
  }
 }

 @media(max-width:500px) {
   
 }


