body {
  background-image: url(img/background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  margin: 50px 0 0 60px;
  color: rgb(218, 8, 8);
  font-size: 3rem;
}

.cards {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 100px;
  flex-wrap: wrap;
  padding: 30px;
}


.card:nth-child(1), .card:nth-child(2), .card:nth-child(3) {
  flex: 0 0 300px;  
}

.cards .card {
  width: 200px;
  height: 300px;
  transition: .3s all;
}

.cards .card img {
  width: 100%;
  object-fit: contain;
  border-radius: 30px;
  -webkit-box-shadow: 1px 2px 15px 0px rgba(0,0,0,0.63); 
box-shadow: 1px 2px 15px 0px rgba(0,0,0,0.63);
}

.cards .card h3 {
  text-align: center;
  font-size: 1.5rem;
}

.cards .card:hover {
  transform: scale(1.1);
}